body {
    font-family: "Inter", sans-serif;
  }
  
  body {
    margin: 0;
    background: linear-gradient(45deg, #116e47, #bbf067);
    font-family: sans-serif;
    font-weight: 100;
  }
  
 